*{
  margin:0;
  padding:0;
}
.clearfix:after{
  content:'';
  display: block;
  clear:both;
}
.navList{
  background: cyan;
  display:block;
  text-align:center;
}
.navList li{
  list-style: none;
  display: inline-block;
  margin:5px;
}
.navList li a{
  border-radius:5px;
  text-decoration: none;
  text-align:center;
  padding:5px;
}
.navList li a:hover{
  background:fuchsia;
  color:#fff;
}

